<h1>Admin Stats</h1>
<p>
  Numbers of products: <%= @product_count %>
  <a href="/admin/products">See Products</a>
</p> 

<p>
  Numbers of categories: <%= @categories_count %>
  <a href="/admin/categories">See Categories</a>
</p>
